<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <img class="mb-4 img-error" src="./assets/dist/img/error-404-monochrome.svg" />
                <p class="lead">Esta sección aún no se ha implementado.</p>
                <a href="index.html">
                    <i class="fas fa-arrow-left me-1 d-1"></i>
                    Regresar a la página principal.
                </a>
            </div>
        </div>
    </div>
</div>